


.count-down {
  border-top: 1px solid rgb(215, 219, 225);
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(215, 219, 225);
  &__item {
    margin-top: 32px;
    border-bottom: 1px solid rgb(215, 219, 225);
    padding: 32px 0;
    @include max-width-575 {
      flex-direction: column;
      margin-top: 4px;
    }
    .number {
      @include max-width-575 {
        margin-bottom: 16px;
      }
    }
    .content {
      @include max-width-575 {
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .number,
    .content {
      flex: 1;
    }
  }
}

.purpose {
  padding: 90px 0;
  // border-bottom: 1px solid rgb(215, 219, 225);
  &__banner {
    display: flex;
    background: rgb(156, 212, 229);
    @include max-width-991 {
      flex-direction: column;
    }
    .left {
      width: 42%;
      min-height: 500px;
      @include max-width-991 {
        width: 100%;
        min-height: initial;
        height: 350px;
      }
     img {
      height: 100%;
      width: 100%;
      object-fit: cover;
     }
    }
    .right {
      width: 58%;
      padding: 32px;
      @include max-width-991 {
        width: 100%;
      }
      .fs-48 {
        @include max-width-991 {
          font-size: 32px;
        }
      }
      .top {
        @include max-width-991 {
          margin-bottom: 32px;
        }
      }
      h2 {
        @include max-width-991 {
          max-width: 500px;
        }
      }
    }
    .bottom {
      border-top: 1px solid rgba(1, 30, 65, 0.16);
      padding-top: 22px;
    }
  }
  .line {
    @include line;
  }
}
.values {
  border-bottom: 1px solid rgb(215, 219, 225);
  padding-bottom: 90px;
  @include max-width-767 {
    padding-bottom: 60px
  }
  .line {
    @include line;
  }
  .scroll-reveal-section {
    @include max-width-991 {
      margin-top: 12px;
    }
  }
  .item {  
   
    &:after {
      content: "";
      display: block;
      height: 100vh;
      margin-bottom: -100vh;
      @include max-width-991 {
        display: none;
      }
    }
    position: relative;
    @include max-width-991 {
      margin-bottom: 40px;
    }
    
    &:last-of-type {
      &:after { display: none; }
      margin-bottom: 0; }
    
    .image-holder {
      position: sticky;
      top: 0;
      float: left;
      overflow: hidden;
      width: 50%;
      height: 100vh;
      @include max-width-991 {
        width: initial;
        height: initial;
        float: initial;
        position: initial;
        overflow: initial;

      }
      img {
        position: relative;
        height: 100%;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        @include max-width-991 {
          transform: initial;
          left: initial;
          width: 100%;
        }
      }
    }
    
    .text-holder {
      width: 50%;
      min-height: 120vh;
      margin-left: auto;
      padding: 1em;
      padding-top: 100px;
      max-width: 460px;
      @include max-width-991 {
        width: initial;
        min-height: initial;
        max-width: initial;
        padding: 0;
        margin-top: 12px;
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 18px;
          margin-top: 10px;
        }
      }
    }
    
  }
}

.strategy {
  padding-top: 90px;
  @include max-width-767 {
    padding-top: 60px
  }
  .line {
    @include line;
  }
}
.more-explore {
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-top: 1px solid rgb(215, 219, 225);
  border-bottom: 1px solid rgb(215, 219, 225);
  padding-top: 90px;
  margin-top: 90px;
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
    @include max-width-991 {
      grid-template-columns: 1fr 1fr;
    }
    @include max-width-575 {
      grid-template-columns: 1fr;
    }
    &__item {
      border-top: 1px solid rgb(215, 219, 225);
      padding-top: 20px;
    }
  }
  .learnmore {
    color: $black;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      svg {
        animation: 1s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s 1 normal forwards running arrowMoving;
      }
    }
  }
}
