@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin line {
    height: 1px;
    width: 100%;
    background: rgb(215, 219, 225) ;
    margin: 90px 0;
    @include max-width-991 {
        margin: 40px 0;
    }
}