.what-to-do {
    img {
        width: 140px;
        height: 140px;
        object-fit: cover;
    }
}

.our-views {
    border-top: 1px solid rgb(215, 219, 225);
    padding-top: 90px;
    margin-top: 60px;
    .line {
        @include line;
    }
}
.service-grid-items {
    padding-top: 90px;
    .grid-items__list {
        &:nth-child(1) {
            grid-column: 1/2;
            @include max-width-991 {
                grid-row: 2/3;
            }
            @include max-width-575 {
                grid-row: 1/2;
            }
        }
        &:nth-child(2) {
            grid-column: 2/4;
            @include max-width-991 {
                grid-column: 1/3;
            }
            @include max-width-575 {
                grid-column: 1/2;
            }
        }
    }
}
.technical {
    &__item {
        display: flex;
        border-top: 1px solid rgb(215, 219, 225);
        padding-top: 32px;
        padding-bottom: 32px;
        @include max-width-575 {
            flex-wrap: wrap;
        }
        .left {
            flex-basis: 25%;
            @include max-width-575 {
                flex-basis: 100%;
                margin-bottom: 8px;
            }
        }
        .middle {
            flex: 1;
            .dot {
                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;
                    background: $gray;
                    margin-right: 4px;
                    display: inline-block;
                }
            }
        }
        .right {
            margin-top: 25px;
            .link {
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(215, 219, 225);
                transition: all .3s ease-in;
                &:hover {
                    border-color: $black;
                }
                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }
    }
}
.sub-indrustries {
    padding-top: 60px;
    margin-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgb(215, 219, 225);
    border-top: 1px solid rgb(215, 219, 225);
    .grid-items {
        grid-template-columns: 1fr 1fr;
        @include max-width-575 {
            grid-template-columns: 1fr;
        }
        &__list {
            &:nth-child(1) {
                grid-column: 1/2;
            }
            &:nth-child(2) {
                grid-column: 2/3;
                @include max-width-575 {
                    grid-column: 1/2;
                }
            }
        }
    }
}

.contact-action-btn {
    background: transparent;
    color: $red;
    border: none;
    padding: 0;
    outline: none;
    font-size: 18px;
}
.contact {
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(215, 219, 225);
    margin-bottom: 100px;
    @include max-width-991 {
        padding-bottom: 60px;
        margin-bottom: 60px;
    }
    .profile {
        padding: 32px;
        border-top: 1px solid rgb(215, 219, 225);
        border-bottom: 1px solid rgb(215, 219, 225);
    }
    .offcanvas {
        width: 40%;
        padding: 40px 40px 40px 20px;
        max-height: 100%;
        overflow-y: auto;
        @include max-width-1299 {
            width: 60%;
        }
        @include max-width-991 {
            width: 80%;
        }
        @include max-width-767 {
            width: 100%;
        }
        &-body {
            border-top: 1px solid rgb(215, 219, 225);
            padding-top: 32px;
            margin-top: 32px;
            display: flex;
            overflow: initial;
            @include max-width-767 {
                flex-direction: column;
            }
            .profile-details {
                width: 200px;
            }
            .form-content {
                margin-left: 32px;
                padding-left: 32px;
                border-left: 1px solid rgb(215, 219, 225);
                flex-grow: 1;
                @include max-width-767 {
                    margin-left: 0;
                }
            }
        }
        .btn-close {
            position: absolute;
            top: 20px;
            right: 32px;
        }
    }
    h2.text-black.fs-28 {
        margin-bottom: 32px;
    }
}
.form-group {
    margin-bottom: 16px;
    label {
        font-size : 18px;
        font-weight: 600;

    }
    input {
        border-radius: 0;
        border: 1px solid rgb(197, 204, 213);
        height: 48px;
    }
    textarea {
        border-radius: 0;
        border: 1px solid rgb(197, 204, 213);
    }
    select {
        border-radius: 0;
        border: 1px solid rgb(197, 204, 213);
        height: 48px;
    }
    .captcha-input {
        margin-top: 10px;

        input {
            width: 245px;
        }
    }
    .captcha-text {
        margin-bottom: 8px;
        .new-capcha {
            &::after {
                content: '';
                width: 1px;
                height: 10px;
                background: $black;
                display: inline-block;
                margin-right: 8px;
                margin-left: 8px;
            }
        }
        a {
            color: #479CAA;
        }
    }

}
.primary-btn {
    display: inline-block;
    border-radius: 0;
    background: $red;
    color: white;
    padding: 8px 20px;
    // max-height: 48px;
    border: 1px solid $red;
}

.insfrastructure-grid-items {
    grid-template-columns: 1fr 1fr;
    .grid-items__list {
        grid-column: initial;
    }
}

/* Same as previous CSS */

.service-owl {
    .item {
        display: flex;
        background: rgb(156, 212, 229);
        @include max-width-991 {
            flex-direction: column-reverse;
        }
        .left-div,
        .right-div {
            width: 50%;
            min-height: 760px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            @include max-width-991 {
                width: 100%;
                min-height: initial;
            }
        }
        .right-div {
            @include max-width-991 {
                height: 580px;
            }
            @include max-width-767 {
                height: 370px;
            }
        }
        .left-div {
            padding: 40px;
            padding-bottom: 106px;
            @include max-width-991 {
                height: 400px;
            }
            @include max-width-767 {
                height: 500px;
            }
            h2 {
                font-size: 40px;
                margin-bottom: 8px;
                @include max-width-991 {
                    font-size: 30px;
                }
            }
            p {
                font-size: 18px;
            }
        }
    }
}
  
.owl-carousel .item .left-div,
.owl-carousel .item .right-div {
  transition: opacity 0.5s ease;
}
  /* Same as previous CSS */
.slider {
    .indicators {
        width:calc(50% - 80px);
        position: relative;
        top: -100px;
        z-index: 99;
        left: 40px;
        @include max-width-991 {
            width:calc(100% - 40px);
            left: 20px;
            top: -100px;
        }
    }
    .progress-bar {
        background: rgba(1, 30, 65, 0.16);
        border-radius: 0;
        height: 2px;
        .progress {
            background: rgb(1, 30, 65);
            border-radius: 0;
            transition: all .4s ease-in;
        }
    }
    .controls {
        margin-top: 22px;
    }
    .prev-btn,
    .next-btn {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid $black;
        background: transparent;
        transition: all .3s ease-in;
        &:hover {
            background: $white;
        } 
    }
}
.energy-slider {
    border-top: 1px solid rgb(215, 219, 225);
    padding-top: 100px;
}
.project-slider {
    // padding-top: 100px;
}