
body {
    font-size: 16px;
    // @include font-jakarta;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
h1 {
}
html {
    scroll-behavior: smooth;
  }

  .clear-both {
    clear: both;
  }
// font


// color
.primary-text {
    color: $primary;
}
.secondery-text {
    color: $secondery;
}
.text-black {
    color: $black !important;
}
.text-gray {
    color: $gray;
}
.text-red {
    color: $red;
}
.text-gray-light {
    color: rgb(129, 142, 160);
}
.text-white-light {
    color: $offWhite;
}

// background
.primary-bg {
    background: $primary;
}
.bg-primary-shade {
    background: $primaryShade;
}
.secondery-bg {
    background: $secondery;
}
.bg-light-blue {
    background: $lightBlue;
}
.bg-pink {
    background: $pink;
}
.bg-shade-blue {
    background: $shadeBlue;
}
// font weight
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
// font size
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.fs-28 {
    font-size: 28px;
}
.fs-30 {
    font-size: 30px;
}
.fs-32 {
    font-size: 32px;
}
.fs-36 {
    font-size: 36px;
}
.fs-40 {
    font-size: 40px;
}
.fs-44 {
    font-size: 44px;
}
.fs-48 {
    font-size: 48px;
    @include max-width-575 {
        font-size: 32px;
    }
}
.fs-68 {
    font-size: 68px;
    @include max-width-575 {
        font-size: 42px;
    }
}

// height
.min-h-100vh {
    min-height: 100vh;
}

.z-3 {
    z-index : 3;
}

// margin
// margin-bottom
.mb-22px {
    margin-bottom: 22px;
}
.mb-24px {
    margin-bottom: 24px;
}
.mb-32px {
    margin-bottom: 32px;
}
.mb-35px {
    margin-bottom: 35px;
}

// padding
.py-96px {
    padding: 96px 0;
    @include max-width-575 {
        padding: 48px 0;
    }
}

// container
.custom-container {
    @include min-width-1400 {
        max-width: 1344px;
    }
}
.sml-container {
    @include min-width-1400 {
        max-width: 1340px;
    }
}

// heading

