// color
$primary: #8C1515;
$primaryShade: #DA9E97;

$secondery: #FCEEED;

$gradientBlur:#A1FBE5;
$lightBlue: #C0FCF9;
$gray: rgb(197, 204, 213);
$grayShade: #D9D9D9;
$pink: #FFCCEE;
$shadeBlue: #95D3FF;
$green: #1AECBA;

$white: #fff;
$black: #000000;
$red: rgb(255, 51, 0);
$offWhite: rgb(84, 102, 126);