@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.clear-both {
  clear: both;
}

.primary-text {
  color: #8C1515;
}

.secondery-text {
  color: #FCEEED;
}

.text-black {
  color: #000000 !important;
}

.text-gray {
  color: rgb(197, 204, 213);
}

.text-red {
  color: rgb(255, 51, 0);
}

.text-gray-light {
  color: rgb(129, 142, 160);
}

.text-white-light {
  color: rgb(84, 102, 126);
}

.primary-bg {
  background: #8C1515;
}

.bg-primary-shade {
  background: #DA9E97;
}

.secondery-bg {
  background: #FCEEED;
}

.bg-light-blue {
  background: #C0FCF9;
}

.bg-pink {
  background: #FFCCEE;
}

.bg-shade-blue {
  background: #95D3FF;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-44 {
  font-size: 44px;
}

.fs-48 {
  font-size: 48px;
}
@media (max-width: 575px) {
  .fs-48 {
    font-size: 32px;
  }
}

.fs-68 {
  font-size: 68px;
}
@media (max-width: 575px) {
  .fs-68 {
    font-size: 42px;
  }
}

.min-h-100vh {
  min-height: 100vh;
}

.z-3 {
  z-index: 3;
}

.mb-22px {
  margin-bottom: 22px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-32px {
  margin-bottom: 32px;
}

.mb-35px {
  margin-bottom: 35px;
}

.py-96px {
  padding: 96px 0;
}
@media (max-width: 575px) {
  .py-96px {
    padding: 48px 0;
  }
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1344px;
  }
}

@media (min-width: 1400px) {
  .sml-container {
    max-width: 1340px;
  }
}

.button {
  padding: 16px 32px;
  transition: all 0.3s ease-in;
  display: inline-block;
}
@media (max-width: 575px) {
  .button {
    padding: 10px 22px;
  }
}
.button__primary {
  background: #8C1515;
  color: #fff;
  border: 1px solid #8C1515;
}
.button__primary:hover {
  opacity: 0.8;
}
.touch-btn {
  border: 1px solid white;
  padding: 8px 18px;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: all 0.3s ease-in;
}
.touch-btn:hover {
  background: white;
  color: rgb(1, 30, 65);
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */
/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.fugro-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  background: transparent;
}
.fugro-nav .dropdown-toggle::after {
  display: none;
}
.fugro-nav > .container {
  border-bottom: 1px solid rgb(197, 204, 213);
}
.fugro-nav .nav-item .nav-link {
  padding: 44px 10px;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
@media (max-width: 991px) {
  .fugro-nav .nav-item .nav-link {
    padding: 4px 0;
  }
}
.fugro-nav .nav-item:hover .nav-link {
  color: rgb(1, 30, 65);
}
.fugro-nav.nav-hovered {
  background: white !important;
}
.fugro-nav.nav-hovered .navbar-brand svg path {
  fill: black;
}
.fugro-nav.nav-hovered .nav-link {
  color: rgb(1, 30, 65);
}
.fugro-nav.nav-hovered .middle-line {
  background: rgb(1, 30, 65);
}
.fugro-nav.nav-hovered .login-icon svg path {
  fill: rgb(1, 30, 65);
}
.fugro-nav.nav-hovered .login-icon svg circle {
  stroke: rgb(1, 30, 65);
}
.fugro-nav.nav-hovered .touch-btn {
  color: rgb(1, 30, 65);
  border-color: rgb(1, 30, 65);
}
.fugro-nav.nav-hovered:hover {
  background: white !important;
}
.fugro-nav.nav-hovered::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(1, 30, 65);
  position: fixed;
  top: 0;
  z-index: -2;
  opacity: 0.5;
}
.fugro-nav .megamenu {
  z-index: -1;
  top: 0;
  border-radius: 0;
  padding-top: 112px;
  border: none;
}
@media (max-width: 991px) {
  .fugro-nav .megamenu {
    display: none !important;
  }
}
.fugro-nav .megamenu-item {
  border-right: 1px solid rgb(197, 204, 213);
  padding: 0 12px;
}
.fugro-nav .megamenu-item:nth-child(2) {
  padding: 0 3.2rem;
}
.fugro-nav .megamenu-item:last-child {
  border-right: 0;
}
.fugro-nav .megamenu-item h3 {
  font-size: 3rem;
}
.fugro-nav .megamenu-item-list {
  display: block;
  color: #000000;
  font-size: 2.4rem;
}
.fugro-nav .megamenu-row {
  padding: 6.4rem 0;
}
.fugro-nav .megamenu .arrow {
  margin-top: 32px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000000;
}
.fugro-nav .megamenu .arrow:hover svg {
  animation: 1s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s 1 normal forwards running arrowMoving;
}
.fugro-nav .megamenu .arrow-box {
  width: 32px;
  height: 32px;
  border: 1px solid rgb(197, 204, 213);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.fugro-nav .megamenu .arrow-box svg path {
  fill: #000000;
}
.fugro-nav .megamenu .img-overlay-content {
  display: block;
  text-decoration: none;
  color: white;
}
.fugro-nav .megamenu .img-overlay-content::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 78.34%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fugro-nav .megamenu .img-overlay-content .text-content {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  left: 32px;
  right: 32px;
  margin-bottom: 4px;
}
.fugro-nav .megamenu .img-overlay-content .text-content .dot::before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(197, 204, 213);
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
}
.fugro-nav .megamenu .img-overlay-content img {
  height: 276px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fugro-nav .middle-line {
  height: 32px;
  width: 1px;
  background: white;
  display: inline-block;
}
.fugro-nav .login-icon svg path {
  fill: white;
}
.fugro-nav .login-icon svg circle {
  stroke: white;
}
.fugro-nav .navbar-toggler {
  display: inline-block;
  box-shadow: none;
  border: none;
  outline: none;
  z-index: 999999;
  position: absolute;
  top: 25px;
  right: 11px;
}
@media (min-width: 992px) {
  .fugro-nav .navbar-toggler {
    display: none;
  }
}
@media (max-width: 575px) {
  .fugro-nav .navbar-toggler {
    position: relative;
    top: 0;
    right: 0;
  }
}
.fugro-nav .navbar-toggler.collapsed {
  right: 0;
  position: relative;
  top: 0;
}
.fugro-nav .navbar-toggler.collapsed .navbar-toggler-icon {
  transform: initial !important;
  position: initial !important;
  background: #fff;
}
.fugro-nav .navbar-toggler.collapsed .navbar-toggler-icon:nth-child(3) {
  display: block !important;
  visibility: visible;
  opacity: 1;
}
.fugro-nav .navbar-toggler-icon {
  width: 20px;
  height: 2px;
  background: #000000;
  border-radius: 0;
  display: block;
  margin-bottom: 7px;
  position: relative;
  transition: all 0.3s ease-in;
}
.fugro-nav .navbar-toggler-icon:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}
.fugro-nav .navbar-toggler-icon:nth-child(2) {
  top: -2px;
  transform: rotate(-45deg);
}
.fugro-nav .navbar-toggler-icon:nth-child(3) {
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .fugro-nav .offcanvas {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .fugro-nav .offcanvas {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .fugro-nav .navbar-collapse {
    align-items: flex-start;
  }
}
.fugro-nav .navbar-collapse::after {
  content: "";
}
@media (max-width: 991px) {
  .fugro-nav .navbar-collapse .navbar-nav {
    padding-top: 100px;
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
  .fugro-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #000000 !important;
  }
}
@media (max-width: 991px) {
  .fugro-nav .login-action {
    padding-left: 50px;
    margin-top: 20px;
  }
  .fugro-nav .login-action .login-icon path {
    fill: rgb(1, 30, 65);
  }
  .fugro-nav .login-action .login-icon circle {
    stroke: rgb(1, 30, 65);
  }
  .fugro-nav .login-action .middle-line {
    background: rgb(1, 30, 65);
  }
  .fugro-nav .login-action .touch-btn {
    color: rgb(1, 30, 65);
    border-color: rgb(1, 30, 65);
  }
}

.arrow-big .box {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  transition: all 0.3s ease-in;
}
.arrow-big .box svg path {
  transition: all 0.3s ease-in;
}
.arrow-big .box:hover {
  background: white;
}
.arrow-big .box:hover svg path {
  fill: #000000;
}

.navbar-brand {
  margin-right: 3rem;
  margin-top: 20px;
}
.navbar-brand svg path {
  fill: white;
  transition: all 0.3s ease-in;
}

@keyframes arrowMoving {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
.faq {
  padding-top: 400px;
}
@media (max-width: 991px) {
  .faq {
    padding-top: 300px;
  }
}
.faq .group {
  margin-bottom: 32px;
}
.faq .group p {
  margin-bottom: 20px;
  font-size: 18px;
}

.contact-hero {
  height: 40.7rem !important;
  background: rgb(245, 244, 242);
}
@media (max-width: 991px) {
  .contact-hero {
    height: 25rem !important;
  }
}
.contact-hero::after, .contact-hero::before {
  display: none;
}
.contact-hero .big-heading {
  color: #000000 !important;
}

.contact-nav ul li a {
  color: #000000 !important;
}
.contact-nav svg path {
  fill: #000000 !important;
}
.contact-nav svg circle {
  stroke: #000000 !important;
}
.contact-nav .middle-line {
  background: #000000;
}
.contact-nav .touch-btn {
  border: 1px solid #000000;
  color: #000000;
}
.contact-nav .img-overlay-content {
  color: #fff !important;
}
.contact-nav .img-overlay-content svg path {
  fill: #fff !important;
}

.contact-headline {
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .contact-headline {
    margin-bottom: 60px;
  }
}

.supplier-contact {
  margin-top: 100px;
  border-bottom: none !important;
}

.main-contact {
  border-bottom: none !important;
}

.number-list select {
  position: absolute;
  left: 4px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: calc(100% - 2px) !important;
  border: none !important;
  width: 100px;
  text-align: center;
}
.number-list .line {
  display: inline-block;
  height: 30px;
  width: 1px;
  background: rgb(197, 204, 213);
  position: absolute;
  left: 110px;
  top: 8px;
}

.contact-supplier .form-group,
.main-contact .form-group {
  margin-bottom: 32px;
}

.contact-work-us {
  background: rgb(245, 244, 242) !important;
}
.contact-work-us .right__bottom {
  border-top: 1px solid rgba(1, 30, 65, 0.16);
  padding-top: 20px;
}
.contact-work-us .right__bottom a {
  color: #000000 !important;
}

.count-down {
  border-top: 1px solid rgb(215, 219, 225);
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(215, 219, 225);
}
.count-down__item {
  margin-top: 32px;
  border-bottom: 1px solid rgb(215, 219, 225);
  padding: 32px 0;
}
@media (max-width: 575px) {
  .count-down__item {
    flex-direction: column;
    margin-top: 4px;
  }
}
@media (max-width: 575px) {
  .count-down__item .number {
    margin-bottom: 16px;
  }
}
@media (max-width: 575px) {
  .count-down__item .content h4 {
    font-size: 20px;
  }
  .count-down__item .content p {
    font-size: 18px;
  }
}
.count-down__item .number,
.count-down__item .content {
  flex: 1;
}

.purpose {
  padding: 90px 0;
}
.purpose__banner {
  display: flex;
  background: rgb(156, 212, 229);
}
@media (max-width: 991px) {
  .purpose__banner {
    flex-direction: column;
  }
}
.purpose__banner .left {
  width: 42%;
  min-height: 500px;
}
@media (max-width: 991px) {
  .purpose__banner .left {
    width: 100%;
    min-height: initial;
    height: 350px;
  }
}
.purpose__banner .left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.purpose__banner .right {
  width: 58%;
  padding: 32px;
}
@media (max-width: 991px) {
  .purpose__banner .right {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .purpose__banner .right .fs-48 {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .purpose__banner .right .top {
    margin-bottom: 32px;
  }
}
@media (max-width: 991px) {
  .purpose__banner .right h2 {
    max-width: 500px;
  }
}
.purpose__banner .bottom {
  border-top: 1px solid rgba(1, 30, 65, 0.16);
  padding-top: 22px;
}
.purpose .line {
  height: 1px;
  width: 100%;
  background: rgb(215, 219, 225);
  margin: 90px 0;
}
@media (max-width: 991px) {
  .purpose .line {
    margin: 40px 0;
  }
}

.values {
  border-bottom: 1px solid rgb(215, 219, 225);
  padding-bottom: 90px;
}
@media (max-width: 767px) {
  .values {
    padding-bottom: 60px;
  }
}
.values .line {
  height: 1px;
  width: 100%;
  background: rgb(215, 219, 225);
  margin: 90px 0;
}
@media (max-width: 991px) {
  .values .line {
    margin: 40px 0;
  }
}
@media (max-width: 991px) {
  .values .scroll-reveal-section {
    margin-top: 12px;
  }
}
.values .item {
  position: relative;
}
.values .item:after {
  content: "";
  display: block;
  height: 100vh;
  margin-bottom: -100vh;
}
@media (max-width: 991px) {
  .values .item:after {
    display: none;
  }
}
@media (max-width: 991px) {
  .values .item {
    margin-bottom: 40px;
  }
}
.values .item:last-of-type {
  margin-bottom: 0;
}
.values .item:last-of-type:after {
  display: none;
}
.values .item .image-holder {
  position: sticky;
  top: 0;
  float: left;
  overflow: hidden;
  width: 50%;
  height: 100vh;
}
@media (max-width: 991px) {
  .values .item .image-holder {
    width: initial;
    height: initial;
    float: initial;
    position: initial;
    overflow: initial;
  }
}
.values .item .image-holder img {
  position: relative;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .values .item .image-holder img {
    transform: initial;
    left: initial;
    width: 100%;
  }
}
.values .item .text-holder {
  width: 50%;
  min-height: 120vh;
  margin-left: auto;
  padding: 1em;
  padding-top: 100px;
  max-width: 460px;
}
@media (max-width: 991px) {
  .values .item .text-holder {
    width: initial;
    min-height: initial;
    max-width: initial;
    padding: 0;
    margin-top: 12px;
  }
  .values .item .text-holder h1 {
    font-size: 28px;
  }
  .values .item .text-holder p {
    font-size: 18px;
    margin-top: 10px;
  }
}

.strategy {
  padding-top: 90px;
}
@media (max-width: 767px) {
  .strategy {
    padding-top: 60px;
  }
}
.strategy .line {
  height: 1px;
  width: 100%;
  background: rgb(215, 219, 225);
  margin: 90px 0;
}
@media (max-width: 991px) {
  .strategy .line {
    margin: 40px 0;
  }
}

.more-explore {
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-top: 1px solid rgb(215, 219, 225);
  border-bottom: 1px solid rgb(215, 219, 225);
  padding-top: 90px;
  margin-top: 90px;
}
.more-explore__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}
@media (max-width: 991px) {
  .more-explore__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .more-explore__content {
    grid-template-columns: 1fr;
  }
}
.more-explore__content__item {
  border-top: 1px solid rgb(215, 219, 225);
  padding-top: 20px;
}
.more-explore .learnmore {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.more-explore .learnmore:hover svg {
  animation: 1s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s 1 normal forwards running arrowMoving;
}

.hero-section {
  position: relative;
  height: 480px;
}
@media (min-width: 576px) {
  .hero-section {
    height: 30.4rem;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    height: 39.4rem;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    height: 47.2rem;
  }
}
.hero-section::after, .hero-section::before {
  content: "";
  position: absolute;
  left: 0px;
  height: 22.4rem;
  width: 100%;
  z-index: 1;
}
.hero-section::after {
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  opacity: 0.7;
}
.hero-section::before {
  top: 0;
  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.hero-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section__content {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
  bottom: 32px;
}
@media (min-width: 1024px) {
  .hero-section__content .big-heading {
    width: 66.6667%;
  }
}

.big-heading {
  line-height: 110%;
  font-size: 68px;
  color: white;
}
@media (max-width: 991px) {
  .big-heading {
    font-size: 36px;
  }
}

.sticky-menu {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(197, 204, 213);
  z-index: 99;
  background: white;
}
.sticky-menu .d-flex.align-items-center {
  width: -moz-max-content;
  width: max-content;
}
.sticky-menu a {
  padding: 20px 0px;
  margin-right: 20px;
  font-size: 16px;
  color: rgb(84, 102, 126);
}
.sticky-menu a:hover {
  color: rgb(255, 51, 0);
}
.sticky-menu p {
  font-size: 16px;
}
.sticky-menu .sticky-menu-item {
  position: relative;
}
.sticky-menu .sticky-menu-item.active::after {
  background: rgb(255, 51, 0);
}
.sticky-menu .sticky-menu-item::after {
  width: 100%;
  height: 2px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
}
.sticky-menu .container {
  overflow: auto;
}

.sticky-menu-section {
  margin-bottom: 100px;
}

.grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
@media (max-width: 991px) {
  .grid-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .grid-items {
    grid-template-columns: 1fr;
  }
}
.grid-items__list {
  border-bottom: 0.1rem solid rgb(215, 219, 225);
  transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1) 0s;
  padding-bottom: 24px;
  height: -moz-max-content;
  height: max-content;
}
.grid-items__list:hover {
  transform: translateY(-5px);
  border-color: rgb(1, 30, 65);
}
.grid-items__list:nth-child(1) {
  grid-column: 1/3;
}
@media (max-width: 575px) {
  .grid-items__list:nth-child(1) {
    grid-column: initial;
  }
}
.grid-items__list img {
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.grid-items .dot {
  display: inline-flex;
  align-items: center;
}
.grid-items .dot::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: rgb(197, 204, 213);
  margin-right: 4px;
}

.energy__content {
  position: relative;
}
@media (max-width: 991px) {
  .energy__content {
    height: calc(100vh - 80px);
  }
}
.energy__content::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  transform: rotate(-180deg);
}
.energy__content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.energy__content__text {
  position: absolute;
  z-index: 9;
  bottom: 40px;
  left: 40px;
  max-width: 600px;
  color: white;
}
@media (max-width: 767px) {
  .energy__content__text {
    max-width: calc(100% - 40px);
    left: 20px;
  }
}
.energy__content__text .dot {
  display: inline-flex;
  align-items: center;
}
.energy__content__text .dot::before {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
}
.energy__content__text .heading {
  font-size: 2.8rem;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .energy__content__text .heading {
    font-size: 30px;
  }
}
.energy__content__text .box {
  width: 48px;
  height: 48px;
  border-radius: 2px;
  background: rgb(255, 51, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.what-to-do {
  padding: 3rem 0;
}
.what-to-do p {
  font-size: 20px;
}
.what-to-do a {
  font-size: 18px;
  color: rgb(255, 51, 0);
}
.what-to-do a:hover {
  color: #000000;
}
@media (max-width: 767px) {
  .what-to-do .fs-48 {
    font-size: 30px;
  }
}

.work-us {
  display: flex;
  background: rgb(1, 30, 65);
  max-height: 700px;
}
@media (max-width: 991px) {
  .work-us {
    flex-direction: column;
    max-height: initial;
  }
}
.work-us .left {
  width: 40%;
  min-height: 700px;
}
@media (max-width: 991px) {
  .work-us .left {
    width: initial;
    min-height: initial;
    height: 700px;
  }
}
@media (max-width: 767px) {
  .work-us .left {
    height: 600px;
  }
}
@media (max-width: 575px) {
  .work-us .left {
    max-height: 300px;
  }
}
.work-us .left img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575px) {
  .work-us .left img {
    max-height: 300px;
  }
}
.work-us .right {
  width: 60%;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-us .right {
    width: initial;
  }
}
.work-us .right__top {
  max-width: 800px;
}
.work-us .right__top .heading {
  font-size: 50px;
}
@media (max-width: 991px) {
  .work-us .right__top .heading {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .work-us .right__bottom {
    margin-top: 90px;
  }
}
.work-us .right .readmore {
  color: white;
  font-size: 16px;
  transition: all 250ms ease 0s;
}
.work-us .right .readmore svg {
  transition: all 250ms ease 0s;
}
.work-us .right .readmore:hover {
  opacity: 0.5;
  color: rgb(156, 212, 229);
}
.work-us .right .readmore:hover svg {
  transform: translate(8px, 0);
}

.readmore {
  font-size: 16px;
  transition: all 250ms ease 0s;
}
.readmore svg {
  transition: all 250ms ease 0s;
}
.readmore:hover {
  opacity: 0.5;
  color: rgb(156, 212, 229);
}
.readmore:hover svg {
  transform: translate(8px, 0);
}

.what-to-do img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-views {
  border-top: 1px solid rgb(215, 219, 225);
  padding-top: 90px;
  margin-top: 60px;
}
.our-views .line {
  height: 1px;
  width: 100%;
  background: rgb(215, 219, 225);
  margin: 90px 0;
}
@media (max-width: 991px) {
  .our-views .line {
    margin: 40px 0;
  }
}

.service-grid-items {
  padding-top: 90px;
}
.service-grid-items .grid-items__list:nth-child(1) {
  grid-column: 1/2;
}
@media (max-width: 991px) {
  .service-grid-items .grid-items__list:nth-child(1) {
    grid-row: 2/3;
  }
}
@media (max-width: 575px) {
  .service-grid-items .grid-items__list:nth-child(1) {
    grid-row: 1/2;
  }
}
.service-grid-items .grid-items__list:nth-child(2) {
  grid-column: 2/4;
}
@media (max-width: 991px) {
  .service-grid-items .grid-items__list:nth-child(2) {
    grid-column: 1/3;
  }
}
@media (max-width: 575px) {
  .service-grid-items .grid-items__list:nth-child(2) {
    grid-column: 1/2;
  }
}

.technical__item {
  display: flex;
  border-top: 1px solid rgb(215, 219, 225);
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 575px) {
  .technical__item {
    flex-wrap: wrap;
  }
}
.technical__item .left {
  flex-basis: 25%;
}
@media (max-width: 575px) {
  .technical__item .left {
    flex-basis: 100%;
    margin-bottom: 8px;
  }
}
.technical__item .middle {
  flex: 1;
}
.technical__item .middle .dot::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: rgb(197, 204, 213);
  margin-right: 4px;
  display: inline-block;
}
.technical__item .right {
  margin-top: 25px;
}
.technical__item .right .link {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(215, 219, 225);
  transition: all 0.3s ease-in;
}
.technical__item .right .link:hover {
  border-color: #000000;
}
.technical__item .right .link svg path {
  fill: #000000;
}

.sub-indrustries {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgb(215, 219, 225);
  border-top: 1px solid rgb(215, 219, 225);
}
.sub-indrustries .grid-items {
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 575px) {
  .sub-indrustries .grid-items {
    grid-template-columns: 1fr;
  }
}
.sub-indrustries .grid-items__list:nth-child(1) {
  grid-column: 1/2;
}
.sub-indrustries .grid-items__list:nth-child(2) {
  grid-column: 2/3;
}
@media (max-width: 575px) {
  .sub-indrustries .grid-items__list:nth-child(2) {
    grid-column: 1/2;
  }
}

.contact-action-btn {
  background: transparent;
  color: rgb(255, 51, 0);
  border: none;
  padding: 0;
  outline: none;
  font-size: 18px;
}

.contact {
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(215, 219, 225);
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .contact {
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
}
.contact .profile {
  padding: 32px;
  border-top: 1px solid rgb(215, 219, 225);
  border-bottom: 1px solid rgb(215, 219, 225);
}
.contact .offcanvas {
  width: 40%;
  padding: 40px 40px 40px 20px;
  max-height: 100%;
  overflow-y: auto;
}
@media (max-width: 1299px) {
  .contact .offcanvas {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .contact .offcanvas {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .contact .offcanvas {
    width: 100%;
  }
}
.contact .offcanvas-body {
  border-top: 1px solid rgb(215, 219, 225);
  padding-top: 32px;
  margin-top: 32px;
  display: flex;
  overflow: initial;
}
@media (max-width: 767px) {
  .contact .offcanvas-body {
    flex-direction: column;
  }
}
.contact .offcanvas-body .profile-details {
  width: 200px;
}
.contact .offcanvas-body .form-content {
  margin-left: 32px;
  padding-left: 32px;
  border-left: 1px solid rgb(215, 219, 225);
  flex-grow: 1;
}
@media (max-width: 767px) {
  .contact .offcanvas-body .form-content {
    margin-left: 0;
  }
}
.contact .offcanvas .btn-close {
  position: absolute;
  top: 20px;
  right: 32px;
}
.contact h2.text-black.fs-28 {
  margin-bottom: 32px;
}

.form-group {
  margin-bottom: 16px;
}
.form-group label {
  font-size: 18px;
  font-weight: 600;
}
.form-group input {
  border-radius: 0;
  border: 1px solid rgb(197, 204, 213);
  height: 48px;
}
.form-group textarea {
  border-radius: 0;
  border: 1px solid rgb(197, 204, 213);
}
.form-group select {
  border-radius: 0;
  border: 1px solid rgb(197, 204, 213);
  height: 48px;
}
.form-group .captcha-input {
  margin-top: 10px;
}
.form-group .captcha-input input {
  width: 245px;
}
.form-group .captcha-text {
  margin-bottom: 8px;
}
.form-group .captcha-text .new-capcha::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #000000;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}
.form-group .captcha-text a {
  color: #479CAA;
}

.primary-btn {
  display: inline-block;
  border-radius: 0;
  background: rgb(255, 51, 0);
  color: white;
  padding: 8px 20px;
  border: 1px solid rgb(255, 51, 0);
}

.insfrastructure-grid-items {
  grid-template-columns: 1fr 1fr;
}
.insfrastructure-grid-items .grid-items__list {
  grid-column: initial;
}

/* Same as previous CSS */
.service-owl .item {
  display: flex;
  background: rgb(156, 212, 229);
}
@media (max-width: 991px) {
  .service-owl .item {
    flex-direction: column-reverse;
  }
}
.service-owl .item .left-div,
.service-owl .item .right-div {
  width: 50%;
  min-height: 760px;
}
.service-owl .item .left-div img,
.service-owl .item .right-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .service-owl .item .left-div,
  .service-owl .item .right-div {
    width: 100%;
    min-height: initial;
  }
}
@media (max-width: 991px) {
  .service-owl .item .right-div {
    height: 580px;
  }
}
@media (max-width: 767px) {
  .service-owl .item .right-div {
    height: 370px;
  }
}
.service-owl .item .left-div {
  padding: 40px;
  padding-bottom: 106px;
}
@media (max-width: 991px) {
  .service-owl .item .left-div {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .service-owl .item .left-div {
    height: 500px;
  }
}
.service-owl .item .left-div h2 {
  font-size: 40px;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .service-owl .item .left-div h2 {
    font-size: 30px;
  }
}
.service-owl .item .left-div p {
  font-size: 18px;
}

.owl-carousel .item .left-div,
.owl-carousel .item .right-div {
  transition: opacity 0.5s ease;
}

/* Same as previous CSS */
.slider .indicators {
  width: calc(50% - 80px);
  position: relative;
  top: -100px;
  z-index: 99;
  left: 40px;
}
@media (max-width: 991px) {
  .slider .indicators {
    width: calc(100% - 40px);
    left: 20px;
    top: -100px;
  }
}
.slider .progress-bar {
  background: rgba(1, 30, 65, 0.16);
  border-radius: 0;
  height: 2px;
}
.slider .progress-bar .progress {
  background: rgb(1, 30, 65);
  border-radius: 0;
  transition: all 0.4s ease-in;
}
.slider .controls {
  margin-top: 22px;
}
.slider .prev-btn,
.slider .next-btn {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #000000;
  background: transparent;
  transition: all 0.3s ease-in;
}
.slider .prev-btn:hover,
.slider .next-btn:hover {
  background: #fff;
}

.energy-slider {
  border-top: 1px solid rgb(215, 219, 225);
  padding-top: 100px;
}

.project-more-explr {
  border: none;
  padding: 30px 0;
}
.project-more-explr .more-explore__content {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 991px) {
  .project-more-explr .more-explore__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .project-more-explr .more-explore__content {
    grid-template-columns: 1fr;
  }
}

.benefits__item {
  margin-bottom: 32px;
}

.key-figure {
  margin-bottom: 100px;
}
.key-figure__item {
  border-bottom: 1px solid rgb(197, 204, 213);
  padding: 20px 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  grid-row-gap: 0px;
}
@media (max-width: 991px) {
  .contact-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
.contact-grid .profile {
  border-top: none;
  padding: 16px 20px;
}
.contact-grid .profile:nth-child(1), .contact-grid .profile:nth-child(2) {
  border-top: 1px solid rgb(197, 204, 213);
}
.contact-grid .profile .left img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-details-contact {
  border-bottom: 0;
}

.breadcrumb-nav {
  position: absolute;
  top: 144px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.breadcrumb-nav ol li a {
  color: white;
  opacity: 0.6;
}
.breadcrumb-nav ol li.active {
  color: rgb(129, 142, 160);
  opacity: 0.6;
}
.breadcrumb-nav ol .breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

.related-news {
  margin-bottom: 100px;
}
.related-news .owl-nav {
  display: block !important;
}
.related-news .owl-nav button {
  width: 40px;
  height: 40px;
  border: 1px solid #000000 !important;
  border-radius: 4px;
}
.related-news .item {
  border-right: 1px solid rgb(197, 204, 213);
  padding-right: 40px;
}
@media (max-width: 767px) {
  .related-news .item {
    padding-right: 0;
  }
}
.related-news .item img {
  min-height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-news .owl-item:last-of-type .item {
  border-right: 0;
}

.dot::before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(197, 204, 213);
  display: inline-block;
  margin-right: 4px;
  border-radius: 2px;
}

.terms-condition .group {
  margin-bottom: 32px;
}
.terms-condition .group p {
  margin-bottom: 20px;
  font-size: 18px;
}
.terms-condition .group ul {
  list-style: none;
  padding-left: 0;
}
.terms-condition .group ul li {
  position: relative;
  padding-left: 26px;
  margin-bottom: 8px;
}
.terms-condition .group ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #000000;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
}

.terms-work-us {
  max-height: 500px !important;
}
.terms-work-us .left {
  min-height: 500px !important;
}

.privacy-hero {
  max-height: 400px !important;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footer__content {
  display: flex;
}
@media (max-width: 575px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__content__item {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid rgb(197, 204, 213);
}
@media (max-width: 575px) {
  .footer__content__item {
    border-right: 0;
  }
}
@media (max-width: 575px) {
  .footer__content__item:nth-child(1) {
    border-bottom: 1px solid rgb(197, 204, 213);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
.footer__content__item:nth-child(2) {
  padding-left: 32px;
}
@media (max-width: 575px) {
  .footer__content__item:nth-child(2) {
    padding-left: 0px;
  }
}
.footer__content__item:nth-child(3) {
  flex: 2;
  border-right: 0;
  padding-left: 32px;
}
@media (max-width: 575px) {
  .footer__content__item:nth-child(3) {
    padding-left: 0px;
  }
}
.footer__content__item__menu {
  font-size: 26px;
  color: #000000;
  transition: all 0.3s ease-in;
  margin-bottom: 12px;
}
.footer__content__item__menu:hover {
  color: rgb(72, 93, 118);
}
.footer__content__item .top {
  border-bottom: 1px solid rgb(197, 204, 213);
  padding-bottom: 32px;
  margin-bottom: 32px;
}
@media (max-width: 991px) {
  .footer__content__item .top {
    border-top: 1px solid rgb(197, 204, 213);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 12px;
  }
}
.footer__content__item .top p {
  font-size: 18px;
  color: rgb(1, 30, 65);
  font-weight: 500;
}
.footer__content__item .top a {
  color: rgb(72, 93, 118);
  font-size: 16px;
}
.footer__content__item .bottom {
  display: flex;
  align-items: flex-start;
}
.footer__content__item .bottom .left,
.footer__content__item .bottom .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer__content__item .bottom .left p,
.footer__content__item .bottom .right p {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
}
.footer__content__item .bottom .left a,
.footer__content__item .bottom .right a {
  color: rgb(72, 93, 118);
  font-size: 16px;
  transition: all 0.3s ease-in;
}
.footer__content__item .bottom .left a:hover,
.footer__content__item .bottom .right a:hover {
  color: #000000;
}
.footer__content__item .bottom .left {
  border-left: 1px solid rgb(197, 204, 213);
  padding-left: 32px;
}
.footer__content__item.for-mbl {
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.footer .copyright {
  border-top: 1px solid rgb(197, 204, 213);
  margin-top: 2rem;
  padding-top: 2rem;
}
@media (max-width: 575px) {
  .footer .copyright {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .footer .copyright-item {
    flex-wrap: wrap;
  }
}
.footer .copyright-item a {
  margin-right: 20px;
  color: rgb(72, 93, 118);
}
@media (max-width: 575px) {
  .footer .copyright-item a {
    margin-bottom: 6px;
  }
}
.footer p {
  color: rgb(129, 142, 160);
}
@media (max-width: 575px) {
  .footer p {
    margin-top: 8px;
  }
}/*# sourceMappingURL=style.css.map */